{% extends "base_generic.html" %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
{% if user.is_authenticated %}
<p>Su cuenta no tiene los privilegios para ver esta pagina,
    accese con una cuenta que tenga los privilegios.</p>
{% else %}
<p><h1>hola</h1>Por favor acceda para ver esta pagina.</p>
{% endif %}
{% endif %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-control">
       {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div class="form-control mt-2"> 
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>
    <div>
        <input type="submit" class="py-2 px-4 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform rounded-md focus:outline-none cursor-pointer bg-indigo-500 hover:bg-indigo-400" value="Ingresar">
        
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Perdio la contraseña?</a></p>
{% endblock %}
