{% extends "base_generic.html" %}
{% block title %}<title>{{ author.first_name }} {{ author.last_name }}</title>{% endblock %}
{% block content %}
<h1>Autor: {{ author.first_name }} {{ author.last_name }}</h1>
<p>
    <strong>
        Fecha nacimiento: {{author.date_of_birth}}
    </strong>
</p>
{% if author.date_of_death %}
<p>
    <strong>
        Fecha Fellecido: {{ author.date_of_death }}
    </strong>
</p>
{% endif %}
<p>
    <strong>
        Libros:
    </strong>
</p>
<div>
    <p>
        {% for libro in author.book_set.all %}
        <ul>
            <li>
                <strong>
                    <a href="{{ libro.get_absolute_url }}">{{ libro.title }}</a>
                </strong>
                <p>
                  {{ libro.summary }}
                </p>

            </li>
        </ul>
        {% endfor %}
    </p>
</div>

{% endblock %}
